@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Queue Name</a>
    <ul class="nav">
      <li class="active"><a href="#">View messages</a></li>
      <li><a href="#">View next messages</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
    $('.navbar').button()
</script>
